
body, div, span, ul, li, ol, dd, dt, dl, pre, code, form, fieldset, legend,
p, blockquote, th, td, hr, aside, footer, header, nav, section, span {
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

button, input, textarea, a {
  touch-action: manipulation;
}