//Define the colors this project used
$black: #000000;
$blue: #0ca0ff;
$brown: #a5742f;
$cyan: #199cb8;
$green: #49b847;
$light-gray: #f5f5f5;
$gray: #ccc;
$gray-darker: #6c757d;
$gray-deep: #484848;
$dark: $gray-darker;
$light: #f8f9fa;
$orange: #f2791a;
$pink: #e02c92;
$purple: #af3ce5;
$red: #ff350e;
$yellow: #fbbe11;
$teal: #0d806d;
$violet: #5f33c9;
$white: #ffffff;

$primary: $blue;
$secondary: $gray;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

//for unified theme colors
$primay-color: $primary;
$primary-text-color: $primary;


//text colors
$text-color: rgba(0, 0, 0, 0.8);
$text-disabled-color: rgba(0, 0, 0, 0.4);
$text-disabled-white-color: darken($white, 40%);
$text-comment-color: #818a91;
$text-light: $white;
$text-ok-color: $green;
$text-warning-color: $yellow;
$text-error-color: $red;
$text-shadow: 1px 1px 2px #333, 0 0 15px $white, 0 0 5px $blue;
$text-shadow-light: 0 0 20px $white;
$default-primary-background: linear-gradient(135deg, lighten($blue, 5%), lighten($blue, 10%), $blue);

//there will be corresponding buttons generated if the property starts with "color-primary"
$colors: (
        color-comment:$text-comment-color,
        color-ok: $text-ok-color,
        color-error: $text-error-color,
        color-primary: $blue,
        color-secondary: $gray,
        color-info: $cyan,
        color-success: $green,
        color-warning: $yellow,
        color-danger: $red,
        color-black: $black,
        color-blue: $blue,
        color-brown: $brown,
        color-cyan: $cyan,
        color-dark: $dark,
        color-green: $green,
        color-gray:$gray,
        color-gray-darker: $gray-darker,
        color-light: $light,
        color-light-gray: $light-gray,
        color-orange: $orange,
        color-pink: $pink,
        color-purple: $purple,
        color-red: $red,
        color-yellow: $yellow,
        color-teal: $teal,
        color-violet: $violet,
        color-white: $white,
);

//text
$font-weight: (
        'light': 400,
        'normal': 500,
        'bold': 700
);

//there will be corresponding buttons generated if the property starts with "color-primary"
$btn-colors: (
        ok: $text-ok-color,
        error: $text-error-color,
        primary: $blue,
        secondary: $gray-darker,
        info: $cyan,
        success: $green,
        warning: $yellow,
        danger: $red,
        black: $black,
        blue: $blue,
        brown: $brown,
        cyan: $cyan,
        dark: $dark,
        green: $green,
        gray:$gray,
        gray-darker: $gray-darker,
        light: $light,
        light-gray: $light-gray,
        orange: $orange,
        pink: $pink,
        purple: $purple,
        red: $red,
        yellow: $yellow,
        teal: $teal,
        violet: $violet,
        white: $white
);

//body
$body-text-color: $text-color;
$body-background-color: $white;


//Global
//$default-box-shadow: 0 .25rem .75rem -1px darken($light-gray, 10%);
//$default-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.12);
//$default-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);;
$default-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.18), 0px 8px 10px 1px rgba(0, 0, 0, 0.12), 0px 3px 12px 2px rgba(0, 0, 0, 0.12);
$default-card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.18), 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
//$default-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
$default-primary-box-shadow: inset 0 0 2rem 0 $primary;
$default-border-radius: 0.25rem;
$default-border-width: 1px;
$default-border-color: #ccc;
$default-border: $default-border-width solid $default-border-color;
$global-border: $default-border;
$default-arrow-border: 4px solid transparent;
$default-arrow-active-border: #acacac;
$default-transition: all .2s ease-in-out;
$body-background-color: #fff;
$border-color: #ccc;
$default-color-increase-ratio: 8%;
$default-bg-color-increase-ratio: 5%;
$default-bg-color-increase-ratio-active: 20%;
$default-box-shadow-color-increase-ratio-active: 20%;
$global-box-shadow: $default-box-shadow;
$global-box-border: none;
$global-disabled-text-color: $text-color;
$global-disabled-background: transparent;

$elem-default-padding: 0.375rem .75rem;
$elem-large-padding: .5rem 1rem;
$elem-small-padding: .25rem .5rem;

//dp-down: 100
//fixed: 120
//modal-back: 200
//modal: 220
//popover: 300
//select: 320
//tooltip: 400

//z-index
$z-index: (
        bottom: -999,
        one: 1,
        widget: 100,
        overlay: 500,
        mask: 1000,
        pop: 1200,
        top:5000
);

//text
$font-size: (
        'xlarge':1.5rem,
        'large':1.25rem,
        'normal': 1rem,
        'small':0.875rem
);

//icon
$icon-font-size: (
        'large': 2.25rem,
        'normal': 1.5rem,
        'small': 1.25rem
);


//For buttons
$btn-default-text-color: $text-color;
$btn-cursor: pointer;
$btn-outline: none;
$btn-font-size: 1rem;
$btn-line-height: 1.5;
//$btn-overflow: overflow;
$btn-transition: box-shadow ease .2s, border-color ease .2s, transform ease .4s, background ease .2s;
$btn-min-width: 5rem;
$btn-not-allowed: not-allowed;
$btn-not-allowed-opacity: .7;
$btn-font-bold: bold;
$btn-text-align: center;
$btn-text-decoration: none;
$btn-text-color-active: #fff;
//$btn-margin-left-button: 0.5rem;
$btn-margin-top-button: 0.5rem;
$btn-border-radius: $default-border-radius;
$btn-border-color: $default-border-color;
$btn-border-width: 1px;

$btn-default-padding: $elem-default-padding;
$btn-large-padding: $elem-large-padding;
$btn-small-padding: $elem-small-padding;
$btn-default-background-color: transparent;


$btn-cicle-width: 2.25rem;
$btn-cicle-height: 2.25rem;
$btn-circle-border-radius: 50%;
$btn-round-border-radius: 1.5em;
$btn-cicle-vertical-align: middle;

//for button group
$btn-group-border-radius: $default-border-radius;
$btn-group-buttons-margin-left: -1px;
$btn-group-border-width: 1px;
$btn-group-flex-wrap: wrap;

//For input
$input-background: transparent;
$input-font-size: 1rem;
$input-color: rgba(255, 255, 255, 0.7);
$input-placeholder-color: $text-comment-color;
$input-line-height: $btn-line-height;
$input-height: calc(#{$input-line-height}em + 0.75rem + 2px);
$input-large-height: calc(#{$input-line-height}em + 1rem + 2px);
$input-small-height: calc(#{$input-line-height}em + 0.5rem + 2px);
$input-outline: 0;
$input-border-width: 1px;
$input-border: $default-border;
$input-border-radius: $default-border-radius;
$input-border-active-color: $blue;
$input-block-width: 100%;
$input-default-padding: $elem-default-padding;
$input-label-background-color: #eceeef;
$input-box-shadow: 0 0 0 0.1rem lighten($blue, 40%);
//$input-active-scale: scale(0.97);
$input-simple-border-left: none;
$input-simple-border-top: none;
$input-simple-border-right: none;
$input-simple-transition: all .2s;
$input-simple-box-shadow: 0 $input-border-width 0 0 rgba(61, 139, 234, 0.24);
$input-special-active-box-shadow-partial: 0 2px 6px 0;


//text-field
$tf-label-show: $white;
$tf-label-color: inherit;
$tf-input-color: inherit;
$tf-underline-label-color: inherit;
$tf-ok-box-shadow: 0 0 0 0.2rem lighten($success, 40%) !important;
$tf-warning-box-shadow: 0 0 0 0.2rem lighten($warning, 40%) !important;
$tf-error-box-shadow: 0 0 0 0.2rem lighten($danger, 40%) !important;
$tf-label-placeholder: $text-comment-color;


$icon-input-icon-cursor: pointer;
$icon-input-icon-scale: scale(0.8);
$icon-input-icon-right: 0.5rem;
$icon-input-icon-left: $icon-input-icon-right;
$icon-input-icon-small-position: 0.375rem;
$icon-input-icon-z-index: map_get($z-index, "widget");
$icon-input-icon-text-color: $gray;
$icon-input-left-icon-input-padding-right: 1rem;
$icon-input-left-icon-input-padding-left: 2rem;
$icon-input-left-icon-input-large-input-padding: 0.75rem 1rem 0.75rem 2.5rem;
$icon-input-left-icon-input-small-input-padding: 0.25rem 0.75rem 0.25rem 1.5rem;
$icon-input-right-icon-input-padding-right: 2rem;
$icon-input-large-padding: 0.75rem 0.25rem 0.75rem 1rem;
$icon-input-large-icon-line-height: 1.5rem;
$icon-input-large-icon-width: 1.5rem;
$icon-input-small-padding: 0.25rem 0.25 0.25rem 0.75rem;
$icon-input-small-icon-line-height: map-get($font-size, ' small ');
$icon-input-small-icon-width: 0.75rem;

//for input group
$input-group-label-line-height: $btn-line-height;
$input-group-label-padding: 0.5rem 1rem;
$input-group-label-element-justify-content: center;
$input-group-label-element-align-items: center;
$input-group-element-inset-padding: 0;
$input-group-element-background-color: transparent;
$input-group-element-margin-right: -1px;


//For menu
$menu-background: initial;
$menu-padding-column: 0.25rem 0;
$menu-padding-row: 0 0.25rem;
$menu-block-display: flex;
$menu-list-style: none;
$menu-flex-direction: column;
$menu-align-items: stretch;
$menu-position: relative;
$menu-border: $default-border;
$menu-border-radius: $default-border-radius;
$menu-header-position: relative;
$menu-header-padding: 0.5rem 1.5rem 0.5rem 2rem;
$menu-header-arrow-position: absolute;
$menu-header-arrow-right: 0.5rem;
$menu-header-arrow-top: calc(50% - 2px);
$menu-close-menu-header-icon-transform: rotate(90deg);
$menu-close-menu-header-icon-transform-origin: center;
$menu-menu-list-display: none;
$menu-menu-list-transition: max-height .2s ease-out;
$menu-menu-list-max-height: 60rem;
$menu-menu-list-overflow: hidden;
$menu-item-cursor: pointer;
$menu-item-border: none;
$menu-item-transition: background .3s;
$menu-item-background-color: #F7F6F6;
$menu-item-active-with-bg: darken($menu-item-background-color, 3%);
$menu-item-focus-with-bg: $menu-item-background-color;
$menu-item-padding: 0.5rem 1.5rem;
$menu-item-overflow: hidden;
$menu-item-text-overflow: ellipsis;
$menu-item-white-space: nowrap;
$menu-item-line-height: 1.5rem;
$menu-item-hove-text-color: $blue;
$menu-item-font-weight: map_get($font-weight, 'normal');
$menu-icon-margin-right: 0.5rem;
$menu-item-hover-text-shadow: 1px 1px 2px #333;
$menu-float-flex-direction: row;
$menu-float-padding: 0;
$menu-float-submenu-menu-header-flex: 0 0 auto;
$menu-float-submenu-menu-header-align-items: center;
$menu-float-submenu-menu-header-flex-direction: row;
$menu-float-submenu-menu-header-transition: all .3s;
$menu-float-submenu-menu-header-after-content: none;
$menu-float-submenu-menu-header-after-border: none;
$menu-float-submenu-menu-list-display: none;
$menu-float-submenu-menu-list-flex-direction: column;
$menu-float-submenu-menu-position: absolute;
$menu-float-submenu-menu-z-index: map_get($z-index, 'mask');
$menu-float-submenu-menu-left: 0;
$menu-float-submenu-menu-top: 2.625rem;
$menu-float-submenu-menu-background-color: $white;
$menu-float-submenu-menu-box-shadow: $default-box-shadow;
$menu-float-submenu-active-menu-header-after-left: 0;
$menu-float-submenu-active-menu-header-after-top: calc(100% - .1875rem);
$menu-float-submenu-active-menu-header-after-content: '';
$menu-float-submenu-active-menu-header-after-height: 0.1875rem;
$menu-float-submenu-active-menu-header-after-width: 100%;
$menu-float-submenu-active-menu-header-after-background-color: $blue;
$menu-float-submenu-active-menu-header-after-transition: width 0.3s;
$menu-float-submenu-active-menu-header-after-animation: change-width-smoothly 0.3s;
$menu-float-submenu-active-menu-list-display: block;
$menu-float-submenu-active-menu-list-animation: show-menu-list .5s forwards;
$menu-float-submenu-close-menu-list-animation: close-menu-list .5s forwards;
$menu-float-submenu-active-vertical-menu-list-animation: scale-menu-list .5s;
$menu-float-submenu-close-vertical-menu-list-animation: scale2-menu-list .5s forwards;
$menu-float-menu-list-flex: 1 0 100%;
$menu-float-menu-list-border-radius: calc(0.25rem - 1px);
$menu-float-menu-item-flex: 0 0 auto;
$menu-float-menu-item-mix-width: 4rem;
$menu-float-menu-item-child-border-radius: calc(0.25rem - 1px);
$menu-float-menu-item-right-flex-grow: 1;
$menu-float-menu-item-right-text-align: right;
$menu-float-menu-item-right-justify-content: flex-end;
$menu-float-menu-item-left-flex-grow: 1;
$menu-float-divider-display: none;
$menu-float-divider-menu-item-border-left: 1px solid #ccc;
$menu-primary-menu-item-focus-color: lighten($blue, 10%);
$menu-primary-menu-item-active-background-color: lighten($blue, 40%);
$menu-primary-menu-item-active-border-right: 3px solid $blue;
$menu-primary-menu-item-active-margin-right: -1px;
$menu-dark-background-color: rgba(0, 0, 0, .8);
$menu-dark-color: darken($white, 30%);
//$menu-dark-border: none;
$menu-dark-menu-list-background: inherit;
$menu-dark-menu-header-background-color: #00192D;
$menu-dark-menu-header-color: darken($white, 10%);
$menu-dark-menu-header-transition: all .2s;
$menu-dark-menu-header-focus-color: $white;
$menu-dark-disabled-menu-item-color: darken($white, 40%);
$menu-popup-panel-normal-background: $white;
$menu-dark-inner-container-background: #000;
$menu-popup-list-background: $white;
$menu-popup-list-box-shadow: $default-box-shadow;
$menu-inner-container-background: inherit;

//for drop down
$dp-cursor: pointer;
$dp-outline: 0;
$dp-text-align: center;
$dp-line-height: 1.5rem;
$dp-vertical-align: baseline;
$dp-border-radius: $default-border-radius;
$dp-padding: 0.5rem 1rem;
$dp-border-width: 1px;
$dp-border: $dp-border-width solid $btn-border-color;
$dp-min-width: 10rem;
$dp-background-color: $white;
$dp-item-border: 1px solid #ccc;
$dp-border-radius: $default-border-radius;
//$dp-menu-display: none;
$dp-menu-opacity: 0;
$dp-menu-position: absolute;
$dp-menu-transform-origin: center;
$dp-menu-z-index: map_get($z-index, pop);
$dp-menu-color: $text-color;
$dp-menu-item-color: $white !important;
$dp-menu-item-background-color: $primary;
$dp-menu-enter-display: inline-block;
$dp-menu-enter-transform: scaleY(0);
$dp-menu-enter-done-display: inline-block;
$dp-menu-enter-done-opacity: 1;
$dp-menu-enter-done-transform: scaleY(1);
$dp-menu-enter-done-transition: opacity .2s ease-out, transform .2s ease-out;
$dp-menu-exit-display: inline-block;
$dp-menu-exit-opacity: 1;
$dp-menu-exit-active-display: inline-block;
$dp-menu-exit-activetransform: scaleY(0);
$dp-menu-exit-activeopacity: 0;
$dp-menu-exit-activetransition: opacity .2s ease-out, transform .2s ease-out;
$dp-menu-exit-done-height: 0;
$dp-menu-exit-done-max-height: 0;
$dp-menu-exit-done-overflow: hidden;


///////////////////////////////////////////////////////////////////////////////////////////


$arrow-direction: (
        'up':'up',
        'down':'down',
        'left':'left',
        'right':'right'
);

//for <a/> link
$link-color: $text-color;
$link-active-color: $blue;
$link-text-decoration: none;
$link-cursor: pointer;

//background color

//font color

//Accordion
$ad-max-height: 0;
$ad-active-max-height: 60rem;
$ad-overflow: hidden;
$ad-transition: max-height .7s ease-in-out;
$ad-card-card-header-active-title-transform: rotate(90deg);
$ad-card-card-header-active-title-transition: transform .7s ease-in-out;

//for blockquota
$bq-margin: 0 0 1rem 0;
$bq-default-padding: 0.75rem 1rem;
$bq-left-border: 0.4rem solid $gray;
$bq-other-border: 1px solid $gray;
$bq-left-border-primary: 0.4rem solid $blue;
$bq-other-border-primary: 1px solid $gray;
$bq-border-radius: 0.5rem;
$bg-primary-with-bg-background: lighten(#adcfef, 15%);
$bq-with-bg-background: lighten(#f8f5f5, 2%);
$bq-footer-color: #727b84;


//for Navbar
$navbar-border-radius: $default-border-radius;
$navbar-title-padding: 0 .5rem;
$navbar-background-color: #f5f5f5;
$navbar-fixed-box-shadow: $default-box-shadow;
$navbar-margin-bottom: 0;
$navbar-background-color-primary: #3d8bea;
$navbar-inactive-text-color: lighten($text-color, 50%);
$navbar-title-color: lighten($text-color, 10%);
$navbar-link-padding: .5rem;
$navbar-link-color: inherit;
$navbar-item-height: 4rem;
$navbar-item-padding: 0 .5rem;
$navbar-item-active-color: $text-color;
$navbar-item-active-box-shadown: 1px 1px 2px #333, 0 0 25px $white, 0 0 5px $blue;
$navbar-item-special-padding-left: 0.5rem;
$navbar-item-min-width: 5rem;
$navbar-item-position: relative;
$navbar-primary-item-color: darken($white, 10%);
$navbar-primary-active-color: $white;
$navbar-simple-item-link-border-height: .25rem;
$navbar-simple-item-link-border-width: 100%;
$navbar-simple-item-link-background-colorh: $green;
$navbar-simple-primary-border-botom: 0;
$navbar-simple-primary-item-color: darken($white, 10%);
$navbar-simple-primary-item-border-bottom-width: 0;
$navbar-simple-primary-item-active-color: $white;
$navbar-simple-primary-item-link-active-background-color: $green;
$navbar-switch-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.45);
$navbar-primary-switch-box-shadow: 0px 0px 2px 0 $white;


//for popover
$po-z-index: 100;
$popover-arrow-border-color: $default-border-color;
$popover-arrow-overlap-background-color: #fff;
$popover-margin: -0.5rem;
$popover-arrow-border-width: 0.5rem;
$popover-arrow-background: $white;


//For Card
$card-flex-direction: column;
$card-flex-wrap: nowrap;
$card-transition: transform .2s;
$card-background-color: $white;

$card-border-width: 1px;
$card-border: $card-border-width solid $default-border-color;
$card-header-bottom-bolder: 1px solid $btn-border-color;
$card-border-radius: $default-border-radius;
$card-header-background-color: $light-gray;
$card-header-background-color-primary: #3d8bea;
$card-header-padding: .75rem 1.25rem;
$card-row-padding: .75rem 1.25rem;
$card-body-padding: .75rem 1.25rem;
$card-footer-padding: .75rem 1.25rem;
$card-width: 25rem;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-overlay-title-display: block;
$card-overlay-title-position: absolute;
$card-overlay-title-width: 100%;
$card-overlay-title-background-color: rgba(0, 0, 0, .4);

// For dialog
$dialog-background: transparent;
$dialog-z-index: map_get($z-index, 'mask');
$dialog-content-min-height: 1rem;
$dialog-content-width-sm: 22.5rem;
$dialog-content-width-md: 34.375rem;
$dialog-content-width-lg: 53.125rem;
$dialog-content-width-xg: 68.75rem;
$dialog-content-background-color: #fff;
$dialog-border-width: $default-border-width;
$dialog-content-border: none;

//$dialog-header-cursor: grab;
$dialog-header-active-cursor: grabbing;
$dialog-header-font-size: 1.25em;
$dialog-header-font-weight: map-get($font-weight, 'normal');
$dialog-header-primary-background-color: $blue;
$dialog-border-radius: $default-border-radius;
$dialog-icon-color: rgba(0, 0, 0, .4);
$dialog-icon-color-hover: rgb(0, 0, 0);
$dialog-inner-border-radius: calc(#{$dialog-border-radius} - #{$dialog-border-width});
$dialog-primary-footer-background: $light-gray;
$dialog-box-shadow: $default-box-shadow;
$dialog-primary-header-border-bottom: $default-border;
$dialog-primary-header-border-top: $default-border;

//For responsive layout
//from bootstrap:
// xs  < 576
// 576 =< sm < 768
// 768 =< md < 992
// 992 =< lg < 1200
//  1200 =< xl
$bs-layout: (
        sm : 576px,
        md : 768px,
        lg : 992px,
        xg: 1200px,
        max_sm: 767px,
        max_md: 991px,
        max_lg: 1199px,
);
$grid-column-count: 12;
$grid-column-padding: 0 .25rem;

//for form
$form-form-item-label-margin-bottom: 0.25rem;
$form-form-item-label-col-margin-bottom: 0.5rem;
$form-form-item-form-line-width: 100%;
$form-form-item-info-line-height: 1rem;
$form-form-item-info-margin: 0.25rem 0;
$form-form-item-inline-margin-right: 0.75rem;

//for table
$table-width: 100%;
$table-border-spacing: 0;
$table-border-collapse: collapse;
$table-default-border: 1px solid $gray;
$table-th-background-color: #f5f5f5;
$table-th-color: $gray-darker;
$table-layout: fixed;
$table-margin-bottom: 1rem;
$table-white-space: nowrap;
$table-border-width: 1px;
$table-row-hover-background-color: lighten($gray, 19%);
$table-row-hover-bg: lighten($gray, 15%);
$table-hl-tr-background: lighten($blue, 45%) !important;
$table-filter-hover-background: $gray;
$table-filter-active-background: $gray;
$table-filter-active-color: $blue;
$table-fixed-cell-background: $white;
$table-arrow-color: $gray;

//for loader
$loader-size-large: 5rem;
$loader-size-normal: 3rem;
$loader-size-small: 1rem;
$loader-primary-border: $loader-size-normal * 0.1 solid #e5e3e3;
$border-default-color: #ccc;
$mask-background: rgba(0, 0, 0, .8);

//for tab
$tab-margin-bottom: 0.5rem;


//Alert
//$alert-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.28), 0px 1px 1px 0px rgba(0, 0, 0, 0.25), 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
$alert-simple-background: $white;
$alert-simple-border: 1px solid $default-border-color;
$alert-info-background: lighten($primary, 45%);
$alert-info-border: 1px solid darken(#d6eaff, 10%);
$alert-info-border-left-color: $primary;
$alert-info-box-shadow: 1px 1px 6px 0 darken(#d6eaff, 10%);
$alert-info-filled-background: $primary;
$alert-ok-background: lighten($green, 45%);
$alert-ok-border: 1px solid darken(#36e73c70, 20%);
$alert-ok-border-left-color: $green;
$alert-ok-box-shadow: 1px 1px 6px 0 darken(#36e73c70, 10%);
$alert-ok-filled-background: $green;
$alert-warning-background: lighten($yellow, 40%);
$alert-warning-border: 1px solid darken(#fff3cd, 30%);
$alert-warning-border-left-color: $brown;
$alert-warning-box-shadow: 1px 1px 6px 0 darken(#fff3cd, 20%);
$alert-warning-filled-background: $brown;
$alert-error-background: lighten($red, 43%);
$alert-error-border: 1px solid #e8818a;
$alert-error-border-left-color: darken(#e8818a, 20%);
$alert-error-box-shadow: 1px 1px 6px 0 #e8818a;
$alert-error-filled-background: $red;
$alert-container-box-shadow: $default-box-shadow;

//for test
$default-box-shadow-2: rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px, rgba(0, 0, 0, 0.4) 0px 8px 10px -5px;
//=======================================================================

//for drawer
$drawer-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);
$drawer-normal-length: 30%;
$drawer-animation-duration: 0.3s;
$drawer-background: $white;


//for breadcrumb
$bd-wrapper-background-color: #f5f5f5;
$bd-color: rgba(0, 0, 0, .5);
$bd-with-bg-background: $light-gray;


//toggle
$toggle-off-bar-background: rgba(0, 0, 0, .5);
$toggle-secondary-primary-background: rgba(0, 0, 0, .45);

//popup
$popup-content-background: $white;

//divider
$divider-background: #ccc;

//select
$select-menu-no-data-background: $white;
$select-menu-item-active: #0ca0ff0f !important;
$select-multi-item-background: $light-gray;
$select-multi-item-border: $default-border;

//date-picker
$date-picker-background: $white;
$date-picker-table-color: $text-comment-color;
$date-picker-button-day-color: $text-color;
$date-picker-th-color: $date-picker-table-color;
$date-picker-range-btn-color: initial;
$date-picker-footer-color: lighten($text-color, 10%);
$date-picker-day-button-active-color: $white;
$date-picker-day-button-active-background: $gray;
$date-picker-year-cols-color: $text-color;


//progress
$progress-bar-background: $gray;

//skeleton
$skeleton-background: linear-gradient(90deg, rgba(240, 240, 240, 100) 23%, rgba(230, 230, 230, 100) 40%, rgba(240, 240, 240, 100) 60%);

//tree
$tree-item-label-info-active-background: lighten($primary, 32%);
$tree-item-bg-background: lighten($primary, 30%);
$tree-hover-color: $primary;
$tree-item-label-info-active-color: $primary;

//pagination
$pagination-go-item-button: $text-color;
$pagination-simple-content-label-color: inherit;

//tabs
$tabs-secondary-card-item-background: $light-gray;
$tabs-secondary-card-item-background-active: $white;
$tabs-secondary-card-item-border-active: 1px solid $white;
$tabs-item-color: inherit;
$tabs-horizontal-tab-card-background: $white;

//layout
$layout-background: #f5f6f7;
$layout-content-background: #fff;
$layout-footer-background: #f8f9fa;
$layout-slider-background: initial;

//time-picker
$time-picker-background: $white;
$time-picker-color: $time-picker-background;
$time-picker-tp-mask-background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)), linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));

//avatar
$avatar-with-box-shadow: $default-box-shadow;

//border-info
$border-info-ok: 0 0 0 0.1rem lighten($success, 40%) !important;
$border-info-warning: 0 0 0 0.1rem lighten($warning, 40%) !important;
$border-info-error: 0 0 0 0.1rem lighten($danger, 40%) !important;