@mixin make-flex() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @content;
}

@mixin make-flex-center() {
  @include make-flex {
    align-items: center;
    justify-content: center;
  }
  @content
}

@mixin make-flex-vertical-center() {
  @include make-flex {
    align-items: center;
  }
  @content
}

@mixin make-inline-flex-center($_align-items: center, $_justify-content:center) {
  @include make-inline-flex {
    align-items: $_align-items;
    justify-content: $_justify-content;
  }
  @content
}

@mixin make-inline-flex() {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  @content;
}

@mixin flex-grow($value) {
  -webkit-flex-grow: $value;
  flex-grow: $value;
}