@mixin make-placeholder() {
  &::placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

//for input-ok, input-warning, input-error
@mixin make-special-input($type, $color) {
  .input-#{$type} {

    &.input, &.icon-input > .input {
      border-color: $color;
    }

    &.input {
      &:active, &:focus {
        box-shadow: $input-special-active-box-shadow-partial rgba($color, 0.24);
      }
    }

    &.icon-input .icon {
      color: $color;
    }

    &.icon-input {
      > .input {
        &:active, &:focus {
          box-shadow: $input-special-active-box-shadow-partial rgba($color, 0.24);

          ~ .icon {
            color: $color;
          }
        }
      }
    }
  }
}