//normal menu
@mixin make-menu-item($display-flex:true, $item-padding: $menu-item-padding, $has-line-height: true) {
  @if $display-flex {
    @include make-flex-vertical-center ;
  } @else {
    @include make-inline-flex-center ;
  }
  position: relative;

  @if($has-line-height){
    //line-height: $menu-item-line-height;
  }
  padding: $item-padding;
  //todo: the dropdown list failed to represent this due to the overflow is set for menu-item
  //overflow: $menu-item-overflow;
  //text-overflow: $menu-item-text-overflow;
  white-space: $menu-item-white-space;
  cursor: $menu-item-cursor;
  border: $menu-item-border;
  //min-width: $dp-min-width;
  transition: $menu-item-transition;

  > .icon {
    margin-right: 1rem;
  }

  @include focus-active2 {
    color: $menu-item-hove-text-color;

    &.with-bg {
      background-color: $menu-item-background-color;
    }
  }

  @include active2 {
    &.with-bottom-bar {
      @include bottom-bar;
    }
  }

  @include add-disabled-conf(false) {
    color: $text-color;
    background-color: transparent;
  }
}

