@mixin make-cell {
  text-align: left;
  border: $table-default-border;
  padding: 0.75rem;
}

@mixin set-border-width($left-bd-width,$top-bd-width,$right-bd-width,$bottom-bd-width) {
  @if $left-bd-width != null {
    border-left-width: $left-bd-width;
  }
  @if $top-bd-width!= null {
    border-top-width: $top-bd-width;
  }
  @if $right-bd-width != null {
    border-right-width: $right-bd-width;
  }
  @if $bottom-bd-width != null {
    border-bottom-width: $bottom-bd-width;
  }

}