.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  align-items: center;
  margin-bottom: 1rem;
  color: $bd-color;

  &.with-bg {
    background: $bd-with-bg-background;
    border-radius: $default-border-radius;
  }

  > .bc-divider, > .item {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  > .item {

    &:hover, &.active {
      color: $blue;
    }

    > .icon {
      &:first-child:not(:last-child), &:not(first-child):not(last-child) {
        margin-right: 0.25rem;
      }
    }

  }

  > .bc-divider {
  }
}