.carousel {
  position: relative;
  overflow: hidden;

  > .indicators {
    z-index: map_get($z-index, one);
    list-style: none;
    display: inline-flex;
    position: absolute;
    flex-direction: row;

    &.top {
      left: 50%;
      transform: translateX(-50%);
      top: 1.5rem;
    }

    &.bottom {
      left: 50%;
      transform: translateX(-50%);
      bottom: 1.5rem;
    }

    &.left {
      flex-direction: column;
      top: 50%;
      transform: translateY(-50%);
      left: 1.5rem;

      > .bar {
        height: 1.5rem;
        width: 0.1875rem;
      }

    }

    &.right {
      flex-direction: column;
      top: 50%;
      transform: translateY(-50%);
      right: 1.5rem;

      > .bar {
        height: 1.5rem;
        width: 0.1875rem;
      }
    }

    > .circle, > .bar {
      cursor: pointer;
      margin: 0.25rem;
      background: $white;
      opacity: .5;

      &.active {
        opacity: 1;
      }

      @include focus2 {
        opacity: .75;
        transform: scale(1.3);
      }
    }

    > .circle {
      @include border-radius(50%);
      width: .75rem;
      height: .75rem;
    }

    > .bar {
      height: 0.1875rem;
      width: 1.5rem;
    }
  }
}