//calendar widget depends on dialog
.date-picker-header {
  background: $blue;
}

.date-picker-title {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;

  .year-info {
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;

    @include only-focus {
      text-shadow: $text-shadow;
    }
  }

  > .detail-info {
    color: $white;
    font-size: 2rem;
  }
}

.date-picker-info {
  @include make-flex-center {
    padding-bottom: .5rem;
    height: 1.875rem;
  }

  > .previous {
    @include make-flex-vertical-center {
      justify-content: flex-end;
      flex: 0 0 auto;
      color: $text-comment-color
    }
  }

  > .content {
    @include make-flex-center {
      flex: 1 1 0;
      color: $text-color;
    }
  }

  > .next {
    @include make-flex-vertical-center {
      justify-content: flex-start;
      flex: 0 0 auto;
      color: $text-comment-color;
    }
  }
}

.date-picker-table {
  width: 100%;
  color: $date-picker-table-color;

  th {
    font-weight: map-get($font-weight, 'light');
    color: $date-picker-th-color;
  }

  td {
    text-align: center;
    vertical-align: middle;
    height: 2.1rem;
  }

  .button.day {

    &.gray {
      &.active {
        background: $date-picker-day-button-active-background;
        color: $date-picker-day-button-active-color;
      }
    }
  }
}

.date-picker-footer {
  display: flex !important;
  justify-content: space-between;
  padding: .25rem 1.25rem !important;
  color: $date-picker-footer-color;

  > .left {
    display: flex;
    color: $primary;
  }

  > .right {
    display: flex;
  }
}

.date-picker {
  width: 20rem;
  background-color: $date-picker-background;
}

.dp-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  //height: 18rem;
  //overflow-y: auto;
  //-webkit-overflow-scrolling: touch;

}

.year-row {
  padding: .25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  color: $text-color;
  user-select: none;


  @include only-focus {
    color: $primary;
  }

  @include only-active {
    color: $primary;
    font-weight: map-get($font-weight, 'normal');
  }
}

.year-cols {
  color: $date-picker-year-cols-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  .button {
    align-self: center;
  }

  > .row > .col-base {
    display: inline-flex;
    justify-content: center;
    padding: .25rem 0;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}


.year-range {
  font-weight: map-get($font-weight, 'normal');
  cursor: pointer;
  color: $blue;
}

.other-year {
  color: $text-comment-color;
}

.range-btn {
  padding: .375rem .3rem !important;
  color: $date-picker-range-btn-color;
}

.datetime-picker {
  .time-picker-info {
    @include make-flex-center {
      padding-bottom: .5rem;
      height: 1.875rem;
      font-weight: 500;
    }
  }

  @include make-flex {
    width: 35rem;
    justify-content: center;
    //align-items: flex-start;
    flex-direction: column;
  }

  > .picker-panels {
    display: flex;
    flex: 1 1 100%;

    .date-picker {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .date-panel {
      @include make-flex-center {
        width: 20rem;
      }
    }

    > .time-panel {
      width: 15rem;

      > .time-picker {
        width: 100%;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        > .card-row {
          padding-left: 0;
        }
      }
    }

  }
}