//Only four column types defined here to ensure our grid system is compatible with bootstrap.
$types: ('sm', 'md', 'lg', 'xl');

// The grid system definition.
// it separates one row into 12 columns in order to meet some special requirements. if you prefer 12 or 16 columns grid system,
// you can change the value of $grid-column-count, and you can get what you want.
.row {
  @include make-flex {
    flex-wrap: wrap;
    flex-grow: 1;
  }

  /*  > [class^=col-] {
      padding: $grid-column-padding;
    }*/

  > .col-base {
    width: 100%;
    position: relative;
    //align-self: stretch;
  }

  > .col {
    //display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }

  @for $i from 1 through $grid-column-count {
    & > .col-#{$i} {
      flex: 0 0 percentage(math.div($i, ($grid-column-count)));
      max-width: percentage(math.div($i, ($grid-column-count)));
    }
  }

  //generate for xs
  @include generate-grid-columns($grid-column-count, '-xs-');

  //generate for others
  @each $col-type in $types {
    //once the screen width exceeds a specified value, apply the corresponding classes by checking min-width and media query
    @include generate-media-grid-columns($grid-column-count,
            "-"+$col-type+"-", (key:'min-width', value: map-get($bs-layout, $col-type)));

  }

  @for $i from 1 through $grid-column-count {
    .order-#{$i} {
      order: $i;
    }
  }
}


//----------------------------------------------------------------------------------------------
.layout {
  @include make-flex {
    flex-direction: column;
    flex: auto;
    background: $layout-background;
  }

  > .layout-header {
    > .navbar, > .menu {
      border-radius: 0;
    }
  }
}

.layout-content {
  @include make-flex {
    flex-direction: column;
    background: $layout-content-background;
    flex: auto;
  }
}

.layout-footer {
  @include make-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $gray-darker;
    font-size: 0.8em;
    flex: 0 1 3rem;
    padding: 1.5rem 1rem;
    background: $layout-footer-background;
  }
}

.layout-header, .layout-footer {
  &.fixed {
    @include fixed(map_get($z-index, 'mask'), false);

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }
}

.layout-split {
  @include make-flex {
    flex-direction: row;
    flex: auto;
  }
}

.layout-slider {
  @include make-flex {
    //height: 100%;  the chilld cannot set height: 100% while the parent node has set display: flex
    width: 20%;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;

    > .slider-inner {
      height: 100%;
    }
  }

  .menu {
    border-radius: 0;
  }

  background: $layout-slider-background;
}


.w-container {
  width: 100%;
  margin: 0 auto;

  .w-container-body {
    height: 100vh;
  }

  @each $col-type in $types {
    &.w-container-#{$col-type} {
      @include media-query((key:'min-width', value: map-get($bs-layout, $col-type))) {
        max-width: map-get($bs-layout, $col-type);
      }
    }

    &.w-container-auto {
      @include media-query((key:'min-width', value: map-get($bs-layout, $col-type))) {
        max-width: map-get($bs-layout, $col-type);
      }
    }
  }

}

