$loader-item-count: 12;
$loader-item-duration: 1.3s;

@keyframes default-loader {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


@keyframes item-delay {
  0%, 49%, 100% {
    opacity: 0.1
  }
  50% {
    opacity: 1
  }
}

%segment-base {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

%segment-item-base {
  display: inline-block;
  border-radius: 100%;
  width: 15%;
  height: 15%;
  background: $primary;
  opacity: 0.1;
}


.loader {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  color: $primary;


  &.loader-column {
    flex-direction: column;

    > .info {
      margin-top: .5rem;
    }
  }

  &.loader-row {
    flex-direction: row;
    align-items: center;

    > .info {
      margin-left: 1rem;
    }
  }

  &.block {
    display: flex;

    &.active {
      display: flex;
    }
  }

  &.primary {
    > .content {
      display: inline-flex;
      position: relative;
      border: $loader-primary-border;
      border-right-color: $primary;
      transform: translate3d(0, 0, 0);
      animation: default-loader $loader-item-duration ease-in-out infinite;
      @include border-radius(100%);
    }
  }

  &.secondary {

    > .content {
      position: relative;

      @for $i from 1 through $loader-item-count {
        > .segment#{$i} {
          @extend %segment-base;

          transform: rotate((math.div(360deg , $loader-item-count)) * ($i - 1));

          > .item {
            @extend %segment-item-base;
            animation: item-delay $loader-item-duration infinite ease-in-out both;
            animation-delay: math.div($loader-item-duration, $loader-item-count) * $i - $loader-item-duration;
          }
        }
      }
    }

  }

  &.third {
    @extend .secondary;

    > .content {
      @for $i from 1 through $loader-item-count {
        > .segment#{$i} {
          > .item {
            width: 8%;
            height: 30%;
          }
        }
      }
    }
  }

  > .info {
    display: inline-flex;
    color: inherit;
  }

  &.medium {
    > .content {
      width: $loader-size-normal;
      height: $loader-size-normal;
    }
  }


  &.small {
    > .content {
      width: $loader-size-small;
      height: $loader-size-small;
      border-width: 2px;
    }
  }


  &.large {
    > .content {
      width: $loader-size-large;
      height: $loader-size-large;
    }
  }

  &.active {
    display: inline-flex;
  }

  &.white {
    color: $white;

    &.secondary, &.third {
      > .content {
        .item {
          background: $white;
        }
      }
    }
  }
}


.loader-wrapper {
  @include make-inline-flex-center {
    position: relative;
  }


  > .loader {
    position: absolute;
    z-index: map-get($z-index, 'widget');
  }

  > .mask {
    border-radius: 0.25rem;
    position: absolute;
    z-index: map-get($z-index, 'widget');
  }

  &.with-opacity {
    &.active {
      opacity: .5;
    }
  }

  &.block {
    display: flex;
  }
}
