@mixin bottom-bar() {
  &:after {
    @include make-block(absolute) {
      border-radius: 50%;
      left: $menu-float-submenu-active-menu-header-after-left;
      top: $menu-float-submenu-active-menu-header-after-top;
      content: $menu-float-submenu-active-menu-header-after-content;
      height: $menu-float-submenu-active-menu-header-after-height;
      width: $menu-float-submenu-active-menu-header-after-width;
      background: $menu-float-submenu-active-menu-header-after-background-color;
      transition: $menu-float-submenu-active-menu-header-after-transition;
      animation: $menu-float-submenu-active-menu-header-after-animation;
      z-index: 1;
    }
  }
}

@mixin simple-bottom-bar() {
  &:after {
    @include make-block(absolute) {
      left: $menu-float-submenu-active-menu-header-after-left;
      top: calc(100% - 2px);
      content: $menu-float-submenu-active-menu-header-after-content;
      height: 2px;
      width: $menu-float-submenu-active-menu-header-after-width;
      background: $menu-float-submenu-active-menu-header-after-background-color;
      transition: $menu-float-submenu-active-menu-header-after-transition;
      animation: simple-change-width-smoothly .3s;
      z-index: 1;
    }
  }
}

@mixin right-bar() {
  &:after {
    @include make-block(absolute) {
      //right: 0;
      top: 0;
      content: $menu-float-submenu-active-menu-header-after-content;
      height: 100%;
      width: 0.1875rem;;
      background: $menu-float-submenu-active-menu-header-after-background-color;
      transition: height .3s;
      //animation: $menu-float-submenu-active-menu-header-after-animation;
    }
  }

  &.left-bar {
    &:after {
      left: 0;
    }

  }
  &.right-bar {
    &:after {
      right: 0;
    }
  }
}

@mixin create-line($prefix) {
  > .#{$prefix}-icon {
    display: flex;
    flex: 0 0 1em;
    transform-origin: center;
    @include make-flex-center;

    &.icon-arrow {
      margin: 0;
      opacity: .5;
    }

    + .header-info, + .item-info {
      margin-left: 1rem;
    }
  }

  > .#{$prefix}-info {
    //padding: 0 0.5rem;
    transform-origin: left;
    overflow: hidden;
    display: block;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

//normal menu
@mixin make-menu-item2($display-flex:true, $item-padding: $menu-item-padding) {
  @if $display-flex {
    @include make-flex-vertical-center ;
  } @else {
    @include make-inline-flex-center ;
  }
  position: relative;
  line-height: $menu-item-line-height;
  padding: $item-padding;
  //todo: the dropdown list failed to represent this due to the overflow is set for menu-item
  //overflow: $menu-item-overflow;
  //text-overflow: $menu-item-text-overflow;
  white-space: $menu-item-white-space;
  cursor: $menu-item-cursor;
  border: $menu-item-border;
  //min-width: 10rem;
  transition: $menu-item-transition;

  > .icon {
    margin-right: .5rem;
  }

  @include focus2 {
    color: lighten($menu-item-hove-text-color, 5%);

    &.with-bg {
      background: $menu-item-focus-with-bg;
    }
  }

  @include active2 {
    color: $menu-item-hove-text-color;
    &.with-bottom-bar {
      @include bottom-bar;
    }
    &.with-bg {
      background: $menu-item-active-with-bg;
    }
  }

  @include add-disabled-conf(false) {
    color: $global-disabled-text-color;
    background: $global-disabled-background;
  }

  @content;
}


.base-menu {
  position: $menu-position;
  display: flex;

  &.with-border-radius {
    @include border-radius($menu-border-radius);
  }

  //two types: the submenu's position will be absolute
  &.menu-row {
    flex-direction: row;
    align-items: $menu-align-items;
    flex: 1 1 100%;
    flex-wrap: wrap;
  }

  &.menu-column {
    flex-direction: $menu-flex-direction;
    flex: 1 0 auto;
  }

  .menu-item {
    @include make-menu-item2 {
      //flex: 1 0 calc(100% - 1rem);
      &.equitable {
        flex-grow: 1;
      }

      &.left {
        flex: 1 1 auto;
        justify-content: flex-start;
      }

      &.right {
        flex: 1 1 auto;
        justify-content: flex-end;

        > .item-info {
          justify-content: flex-end;
        }
      }


      @include create-line('item');
    }

    &.primary {
      @include focus2_no_active {
        color: $menu-primary-menu-item-focus-color;
      }

      &.active {
        background: $menu-primary-menu-item-active-background-color;
        //border-right: $menu-primary-menu-item-active-border-right;
        //margin-right: $menu-primary-menu-item-active-margin-right;
        text-shadow: 0 0 1px lighten($primary, 20%);

        @include right-bar;
      }
    }

    &.dark {
      &.disabled {
        color: $text-disabled-white-color;
      }

      @include focus2_no_active {
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;

        &.with-bg {
          background: $primary;
        }
      }

      &.active {
        background: $primary;
        color: $white;
        //font-weight: map-get($font-weight, 'normal');
        text-shadow: $menu-item-hover-text-shadow;

        &.with-bg {
          background: $primary;
        }
      }
    }
  }


  .menu-header {
    cursor: $menu-item-cursor;
    line-height: $menu-item-line-height;
    font-weight: map_get($font-weight, 'light');
    position: $menu-header-position;
    @include make-flex;
    align-items: center;
    transform-origin: center;
    transition: transform .3s linear;
    padding: .5rem 1rem .5rem 1.5rem;
    white-space: nowrap;

    @include add-disabled-conf(false) {
      color: $text-disabled-white-color;
      background: transparent;
    }

    &.with-bottom-bar {
      @include focus2 {
        @include bottom-bar;
      }

      &.active-bar {
        @include bottom-bar;
      }
    }


    &.normal {
      @include focus2 {
        color: $primary;
      }

      &.active {
        color: $primary
      }
    }

    &.dark {
      @include focus2 {
        color: lighten($white, 10%);
      }

      &.active {
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;
      }
    }

    @include create-line('header');

    &.compact {
      padding: 0.5rem 0;
      display: inline-flex;
      justify-content: center;

      &.dark {
        @include focus2 {
          color: $primary;
          //box-shadow: $default-primary-box-shadow;
        }
      }

      > .header-info {

        + .header-icon {
          display: none;
        }
      }
    }

    &.non-compact {
      > .header-info {
        transform-origin: left;
        overflow: hidden;

      }
    }
  }

  .menu-group {
    color: #a5b2bb;
    padding: .5rem 1.25rem;
  }

  .popup-panel {
    position: absolute;
    left: 100%;
    top: 0;
    box-shadow: $menu-float-submenu-menu-box-shadow;

    &.normal {
      background: $menu-popup-panel-normal-background;
    }

    &.dark {
      background: $menu-dark-background-color;
    }
  }

  .item-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: $menu-padding-column;

    &.popup-list {
      box-shadow: $menu-popup-list-box-shadow;
      position: absolute;
      background: $menu-popup-list-background;
      @include border-radius;
      z-index: map_get($z-index, 'pop');
      opacity: 0; //initially hidden
      min-width: 10rem;

      &.dark {
        background: $menu-dark-background-color;
      }

      &.right {
        left: calc(100% + 0.375rem);
        top: 0;

        &:before {
          position: absolute;
          content: '';
          display: flex;
          flex: 1 0 auto;
          left: -.5rem;
          width: 50%;
          height: 50%;
        }
      }

      &.bottom {
        top: calc(100% + 0.375rem);
        left: 0;

        &:before {
          position: absolute;
          content: '';
          display: flex;
          flex: 1 0 auto;
          top: -.5rem;
          width: 100%;
          height: 50%;
        }
      }
    }
  }
}

.menu {
  @extend .base-menu;
  //flex-wrap: wrap;
  transition: width .3s;
  background: $menu-background;

  > .base-menu {
    > .menu-header {
      > div:first-child {
        &.header-info {
          padding-left: 0;
        }
      }
    }
  }

  .inner-container {
    background: $menu-inner-container-background;
  }

  &.dark {
    background: $menu-dark-background-color;
    color: $menu-dark-color;

    .base-menu .inner-container {
      background: $menu-dark-disabled-menu-item-color;
    }
  }

  /**
     当menu中的嵌套不确定时,如何设置border-radius将会会相当地复杂，
     通常的做法就是menu上下留白，不在子item中设置border-radius,如此可以极大地简化实现难度
   */
  &.menu-row {
    padding: $menu-padding-row;

    > .popup-menu {
      > .popup-list {
        width: 100%;
      }
    }
  }

  &.menu-column {
    padding: $menu-padding-column;
  }

  &.compact {
    width: 5.5rem;

    > .menu-item {
      min-width: unset;
      justify-content: center;
    }
  }

  &.non-compact {
    width: 100%;
  }
}