
%body-spacing {
  min-height: 2rem;
  padding: 1.5rem;
}

.modal {
  position: fixed;
  z-index: $dialog-z-index;
  //visibility: hidden;
  //opacity: 0;
  display: none;
  left: 50%;

  flex-direction: column;

  border: $dialog-content-border;
  min-height: $dialog-content-min-height;
  background: $dialog-content-background-color;
  @include border-radius($dialog-border-radius);
  box-shadow: $dialog-box-shadow;

  @include limit-width("max-width", $dialog-content-width-sm, $dialog-content-width-md,
          $dialog-content-width-lg, $dialog-content-width-xg);


  &.center {
    top: 50%;
  }

  &.with-width {
    width: 90%;
  }

  > .header {
    @include make-flex;
    padding: 1rem 1.5rem;
    font-size: $dialog-header-font-size;
    font-weight: $dialog-header-font-weight;
    align-items: center;

    &:active {
      cursor: $dialog-header-active-cursor;
    }

    > .title {
      @include make-inline-block;
      flex: 1 1 auto;
    }

    > .icon {
      color: $dialog-icon-color;
      cursor: pointer;

      &:hover, &:focus {
        color: $dialog-icon-color-hover;
      }
    }
  }

  > .body {
    @extend %body-spacing;
    //border: $dialog-body-border;
    border-left-width: 0;
    border-right-width: 0;
    flex: 1 1 auto;

    &.overflow {
      overflow-y: auto;
      max-height: calc(90vh - 10em);
    }

    > .body-content {
      @include make-flex;

      > .icon-col {
        flex: 0 1 auto;
        padding: 0 1rem 0 0;
      }

      > .content {
        flex: 1 1 auto;

        > .title {
          font-size: 1.25em;

          + .details {
            margin-top: 1rem;
          }
        }
      }
    }
  }


  > .footer {
    @include make-flex {
      justify-content: flex-end;
    }
    @include full-border-radius(0, 0, $dialog-inner-border-radius, $dialog-inner-border-radius);
    padding: .75rem 1.5rem;

    &.compact-footer {
      padding: 0 1.5rem 1.5rem;
    }
  }


  &.simple {
    border-width: 0;
    box-shadow: none;
    color: $white;
    background-color: transparent;

    > .header, > .body, > .footer {
      border-width: 0;
      border-radius: 0;
      color: inherit;
    }

    > .header {
      > .title {
        &:hover, &:focus {
          text-shadow: $text-shadow;
        }
      }

      > .icon {
        color: $white;

        &:hover, &:focus {
          color: $white;
          text-shadow: $text-shadow;
        }
      }
    }

    > .footer {
      background: transparent;
    }

  }

  &.primary {
    > .header {
      background: $dialog-header-primary-background-color;
      color: $white;
      @include full-border-radius($dialog-inner-border-radius, $dialog-inner-border-radius, 0, 0);

      > .title {
        &:hover, &:focus {
          text-shadow: $text-shadow;
        }
      }

      > .icon {
        color: $white;

        &:hover, &:focus {
          color: $white;
          text-shadow: $text-shadow;
        }
      }

      border-bottom: $dialog-primary-header-border-bottom;
    }

    > .body {

    }

    > .footer {
      background: $dialog-primary-footer-background;
      border-top: $dialog-primary-header-border-top;
    }
  }

  &.full-window {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;

    > .header, > .footer, > .body {
      border-radius: 0;
    }
  }

  &.compact {
    border-radius: 1.5rem;

    > .header {
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
    }

    > .footer {
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      background: transparent;
      padding: 0;

      .button {
        border-radius: 0;
        border: none;
      }

      .button:first-child {
        border-bottom-left-radius: 1.5rem !important;
      }

      .button:last-child {
        border-bottom-right-radius: 1.5rem !important;
      }

    }
  }
}


