.skeleton {

  .skeleton-item {
    height: 1rem;
    background: $skeleton-background;
    background-size: 300% 100%;
    animation: skeleton-animation 1.2s ease infinite;
    border-radius: .25rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &.circle {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }
}

@keyframes skeleton-animation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}