@mixin after() {
  &:after {
    position: absolute;
    width: 1rem;
    top: 0;
    right: 0;
    bottom: -1px;
    transition: box-shadow .3s;
    content: '';

    @content;
  }
}

.table {
  width: $table-width;
  border-collapse: $table-border-collapse;
  border-spacing: $table-border-spacing;
  border: $table-default-border;
  table-layout: $table-layout;
  margin-bottom: $table-margin-bottom;

  &.scroll-head {

  }

  &.clear-border {
    border-width: 0 !important;

    tr, th, td {
      border-width: 0 !important;
    }
  }

  .col-check {
    width: 4rem;
  }

  .cell-check {
    text-align: center !important;

    > .checkbox.indeterminate > .icon {
      color: $blue;
    }
  }

  .hl-tr {
    background: $table-hl-tr-background;
    transition: background .3s;
  }

  &.striped {
    @include set-border-width(0, 0, 0, 0);

    th, td {
      @include set-border-width(0, 0, 0, $table-border-width);
    }
  }

  &.simple {
    border-width: 0;

    th, td {
      @include set-border-width(0, 0, 0, $table-border-width);
      background-color: transparent;
    }

    tbody tr:nth-of-type(even) {
      background: $table-row-hover-background-color;
    }
  }

  th {
    white-space: $table-white-space;
    @include make-cell;
    color: $table-th-color;
    font-weight: map_get($font-weight, 'bold');
    background: $table-th-background-color;

    &.scroll-th {
      //width: 17px;
      border-left: none;
      position: sticky;
      right: 0;
      z-index: map-get($z-index, 'one');
    }

    &.last-head-th {
      border-right: none;
    }

    &.title {
      text-align: center;
    }

    &.with-wrapper {
      padding: 0;
    }

    > .content-wrapper {
      display: flex;
      align-items: stretch;

      > .td-content {
        display: flex;
        flex: 1 1 auto;
        padding: .75rem;

        &.sort-td {
          cursor: pointer;
        }

        > .sort-column {
          margin-left: .75rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          > .arrow-icon {
            border-left: .35em solid transparent;
            border-right: .35em solid transparent;
            width: .35em;
            color: $table-arrow-color;

            &.active {
              color: $blue;
            }

            &.up-arrow {
              border-bottom: .35em solid;
              border-top: 0;
            }

            &.down-arrow {
              margin-top: .2rem;
              border-top: .35em solid;
              border-bottom: 0;
            }
          }
        }
      }

      > .filter, > .head-elem {
        display: flex;
        flex: 0 0 1em;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: .25rem;

        .icon {
          font-size: 1em;
        }

        @include focus2 {
          background: $table-filter-hover-background;
        }

        @include active2 {
          background: $table-filter-active-background;
          color: $table-filter-active-color;
        }

        &.with-items {
          color: $blue
        }
      }
    }
  }

  td {
    @include make-cell;

  }

  &.hover {
    tbody > tr {
      &:focus, &:hover {
        background: $table-row-hover-bg;

        > td.fixed-cell {
          background: $table-row-hover-bg;
        }
      }
    }
  }
}

.table-wrapper {
  margin-bottom: 1rem;

  > .head-wrapper > .table {
    margin-bottom: 0;
  }
}

.table-filter > .card > .card-body {
  padding: 0;
}

.scroll-wrapper {
  overflow-y: scroll;

  > .table {
    margin-bottom: 0;
  }
}

.head-wrapper {
  overflow: hidden;
}

.fixed-cell {
  position: sticky !important;
  background: $table-fixed-cell-background;
  z-index: map-get($z-index, one);

  &.right {

    @include after {
      left: 0;
      transform: translateX(-100%);
    }
  }

  &.left {
    @include after {
      right: 0;
      transform: translateX(100%);
    }
  }

  &.with-cell-box {
    &.left:after {
      box-shadow: inset 11px 0 9px -9px rgba(0, 0, 0, .2);
    }

    &.right:after {
      box-shadow: inset -11px 0 9px -9px rgba(0, 0, 0, .2);
    }
  }
}