$item-height: 40px;
$list-height: $item-height * 5;

.time-picker {
  width: 20rem;
  background-color: $time-picker-background;
  color: $time-picker-color;

  .tp-body {
    @include make-flex {
      position: relative;
      cursor: grab;
      flex: 1 1 0;
    }

    > .tp-wrapper {
      flex: 1 1 0;
      height: $list-height;
      overflow: hidden;
      touch-action: none;

      > .tp-list {
        flex: 1 1 0;
        touch-action: none;

        > .tp-item {
          @include make-flex-center {
            height: $item-height;
            user-select: none;
            width: 100%;
          }
        }
      }
    }

    > .tp-mask {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 80px;
      background-position: top, bottom;
      transform: translateZ(0);
      background-image: $time-picker-tp-mask-background;
    }

    > .tp-indicator {
      pointer-events: none;
      height: $item-height;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translate3d(0, -50%, 0);
      border-top: $default-border;
      border-bottom: $default-border;
    }
  }
}