@mixin set-border-width($left-bd-width,$top-bd-width,$right-bd-width,$bottom-bd-width) {
  @if $left-bd-width != null {
    border-left-width: $left-bd-width;
  }
  @if $top-bd-width!= null {
    border-top-width: $top-bd-width;
  }
  @if $right-bd-width != null {
    border-right-width: $right-bd-width;
  }
  @if $bottom-bd-width != null {
    border-bottom-width: $bottom-bd-width;
  }

}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: rgb(43, 48, 54);
}


.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f5f5f5;
}

.doc {

  &.code {
    margin: 0 2px;
    padding: .2em .3em;
    font-size: .9em;
    background: #f2f4f5;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    color: #e41f4d;

    &.normal {
      font-size: 1em;
      font-weight: 400;
    }
  }

  &.home-header {
    margin: 0 auto;

    &.transparent {
      > .navbar {
        background: transparent;
      }
    }

    > .navbar {
      padding: 0 15%;
      border-radius: 0;
      transition: line-height .3s;

      &.affix-fixed {
        line-height: 5rem;
        background: #333;
        padding: 0 10%;
      }

      > .title {
        text-shadow: 1px 1px 2px #333, 0 0 25px #fff, 0 0 5px #0ca0ff;
      }
    }
  }

  &.normal-panel {
    //used
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width: 100%;
    flex-direction: column;
  }

  &.home-footer {
    //used
    background: #333;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 2rem 15%;
    color: #fff;

    .footer-panel {
      min-width: 15rem;
      //box-shadow: -1px 0 0 0 rgba(255, 255, 255, .2);
      padding-left: 1rem;

      .footer-title {
        margin-bottom: 0.25rem;
        color: #49b847;
      }
    }
  }


  &.home-link {
    //used
    list-style: none;
    color: rgba(255, 255, 255, .6);

    > li {
      padding: 0.5rem 0;
      font-size: 0.8rem;

      &:focus, &:hover, &:active {
        color: #fff;
      }
    }

  }

  p {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }


  &.home {
    width: 100%;
    background: radial-gradient(circle at left top,
        rgba(99, 65, 249, 0.9) 15%,
        rgba(10, 95, 248, 0.9) 50%,
        rgba(33, 180, 212, 0.9) 85%);
    background-size: cover;
  }

  &.markdown {
    margin-bottom: 2rem;

    table {
      overflow: auto;
      display: block; //to make overflow take effects
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ccc;
      table-layout: fixed;
      margin-bottom: 1rem;
      //font-size: .8em;
      border-left-width: 0;
      border-right-width: 0;
      font-size: .9em;

      th {
        white-space: nowrap;
        text-align: left;
        padding: 0.5rem;
        color: #6c757d;
        font-weight: 700;
        background-color: #f5f5f5;

        border: 0 solid #ccc;
        border-bottom-width: 1px;

        &:nth-of-type(1) {
          width: 10rem;
        }

        &:nth-of-type(3) {
          width: 8rem;
        }

        &:nth-of-type(4) {
          width: 5rem;
        }
      }

      td {
        text-align: left;
        padding: 0.5rem;
        border: 0 solid #ccc;
        border-bottom-width: 1px;

        &:nth-of-type(1) {
          font-weight: 500;
        }
      }
    }

    p {
      margin: 0.5rem 0;
    }

    ul {
      list-style: none;

      > li, ll {
        list-style: circle;
        margin-left: 2rem;
        padding: 0.25rem 0;
      }
    }
  }

  &.comp-container {
    min-height: 5rem;
  }

  &.page-container {
    padding: 2rem;

    > .card {
      margin-bottom: 1rem;
      overflow: hidden;

    }
  }

  &.btn-area {
    //overflow: hidden;

    > .button {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }

  &.sample-container {
    > .card {
      margin-bottom: 2rem;
    }
  }

  &.desc {
    border: none;
    border-top: 1px dotted #cccccc;
    //font-size: 14px;

    > legend {
      padding: 0.5rem;
    }

    > .desc-area {
      word-break: break-all;
      word-wrap: break-word;
      padding: 0.5rem;
      text-indent: 2rem;
    }
  }

  &.doc-row {
    margin-bottom: 1rem;
  }


  &.doc-col {
    display: inline-flex;
    margin-right: 1rem;
  }

  .sample-grid {
    .row {
      border: 1px solid rgba(86, 61, 124, 0.2);
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;

      > div[class^=col] {
        padding: .5rem;
        background-color: #ccc;
        border: 1px solid rgba(86, 61, 124, 0.2);
        background-color: rgba(86, 61, 124, 0.15);
      }

    }

  }

  &.nav-menu {
    font-size: .9em;
    background: #fff;
    padding: 1rem;

    .menu-item {
      padding: .15rem .5rem;
    }
  }

  &.title-row {
    background: #f5f5f5;

    h3 {
      display: inline-block;
    }
  }

  &.title-col {
    display: flex;
    align-items: center;

    .button {
      margin-left: .5rem;
    }
  }

  &.selected-item {
    color: #0ca0ff;
  }

  &.edit-btn{
    font-size: 1em;
    color: gray;
  }
}


.banner-container {
  //used
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  //used
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border: 0;
  padding: 6rem 0;
  color: #fff;

  > * {
    //todo: verify
    margin-top: 1.5rem;
  }

  .title {
    text-shadow: 1px 1px 2px #333, 0 0 25px #fff, 0 0 5px #0ca0ff;
    font-size: 4.5rem;
    font-weight: 500;
  }

  .content {
    font-size: 2rem;
    text-align: center;
  }

  .line {
    text-align: center;

    > .button {
      width: 10rem;

      + .button {
        margin-left: 1rem;
      }
    }
  }
}

.site-icon {
  color: rgb(73, 184, 71);
  animation: rotation infinite 5s linear;
}

ul {
  list-style: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and ("max-width": "768px") {
  .doc.left-nav-col, .doc.right-col {
    display: none;
  }

  .doc.center-col {
    padding: 7rem 1rem 0rem;
    flex: 1 1 auto;
  }

  .doc .line > .button {
    width: 8rem;
  }

  .doc .banner-container {
    //height: 20rem;
    padding: 0;
  }

  .doc .banner {
    padding: 0;
    width: 90%;

    > .title {
      font-size: 2rem;
      margin-top: 1rem;

      svg {
        font-size: 1.5rem !important;
      }
    }

    > .content {
      font-size: 1.25rem;
    }
  }

  .doc.page-container {
    padding: .5rem;
  }

  .doc.btn-area {
    > .card {
      display: flex;
      width: unset;
      flex: 1 1 auto;
    }
  }

  h3 {
    font-size: 1em;
  }

  h2 {
    font-size: 1.25em;
  }

  .doc.home-header > .navbar.affix-fixed {
    line-height: 3rem;
  }

  .doc.home-header {
    > .navbar {
      padding: 0 !important;
    }
  }

  .doc.normal-panel {
    padding: 4rem 0;
  }
}

@media screen and ("min-width": "768px") {
  .doc.left-nav-col, .doc.right-col {
    display: block;
  }
}

