@mixin make-header($prefix, $inner-padding:0.25rem 0.5rem 0.25rem 0 ) {
  cursor: pointer;

  > .#{$prefix}-row {
    @include make-flex-vertical-center {
      flex: 1;
    }

    > .inner {
      @include make-flex-vertical-center ;
      padding: $inner-padding;
      flex: 1;

      &.left-icon-column {
        flex-direction: row;
      }

      &.right-icon-column {
        flex-direction: row-reverse;
      }

      > .#{$prefix}-info {
        flex: 1;
        justify-content: flex-start;
        align-items: center;


        @include focus2 {
          color: $primary;
        }

        @include add-disabled-conf(false);

      }

      //additional content
      @content;
    }

    > .#{$prefix}-more {
      flex: 0 0 auto;
      align-items: center;
      display: inline-flex;

      > .icon {
        display: block;
      }

      @include focus2 {
        color: $primary;
      }

      @include add-disabled-conf(false);

      + .#{$prefix}-more {
        margin-left: 0.25rem;
      }
    }
  }
}
