.base-btn {
  @include make-inline-flex-center();
  padding: $btn-default-padding;
  cursor: $btn-cursor;
  outline: $btn-outline;
  line-height: $btn-line-height;
  text-align: $btn-text-align;
  text-decoration: $btn-text-decoration;
  vertical-align: $btn-cicle-vertical-align;
  @include border-radius($btn-border-radius);
  //overflow: $btn-overflow;
  -webkit-tap-highlight-color: transparent;
  //-webkit-appearance: button; //issue: Border-Radius doesn't work in link button on Chrome
  -webkit-appearance: none;
  appearance: none;
  transition: $btn-transition;
  background: transparent;
  position: relative;
  overflow: hidden;

  &.min-width {
    min-width: $btn-min-width;
  }

  &.bold {
    font-weight: $btn-font-bold;
  }

  // button can be disabled
  @include add-disabled-conf;
}
