html {
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $body-text-color;
  background: $body-background-color;
  text-rendering: optimizeLegibility;

  //for  anti-aliasing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: $link-text-decoration;
  cursor: $link-cursor;
}

.svg {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  //line-height: 1;
  flex-shrink: 0;
  user-select: none;
  font-size: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.large {
    font-size: map-get($icon-font-size, 'large');
  }

  &.medium {
    font-size: map-get($icon-font-size, 'normal');
  }

  &.small {
    font-size: map-get($icon-font-size, 'small');
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: map_get($z-index, 'mask');
  overflow: hidden;

  &.dark {
    background: $mask-background;
  }
}

.pull-center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.clear-radius {
  border-radius: 0 !important;
}

.global-with-box {
  box-shadow: $global-box-shadow;
  border: $global-box-border;
}

.global-with-border {
  border: $global-border;
}


/*.clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}*/

/*
.clear-min-width {
  min-width: 0 !important;
}
*/

/*.hide {
  display: none !important;
}*/


@include adapter-width('min-width', map-get($bs-layout, 'sm')) {
  .width-sm {
    max-width: $dialog-content-width-sm;
  }

  .width-md {
    max-width: $dialog-content-width-md;
  }

  .width-lg {
    max-width: $dialog-content-width-lg;
  }

  .width-xl {
    max-width: $dialog-content-width-xg;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
  border-radius: inherit;
  touch-action: manipulation;

  > .content {
    position: absolute;
    pointer-events: none; //ensure the content cannlt be clicked
    //z-index: 1;
    border-radius: 50%;
  }
}

.icon-column {
  margin-right: 0.25rem;
  color: $gray-darker;

  width: 1.5em;
  height: 1.5em;

  @include make-flex-center {
    flex: 0 0 auto;
    transition: transform .2s;

    &.expand {
      transform: rotate(90deg);
    }


    @include focus2 {
      color: $primary;
    }

    @include add-disabled-conf(false);

  }
}