//refer to https://material.io/design/color/dark-theme.html#anatomy
$text-color: rgba(255, 255, 255, .9);
$body-text-color: $text-color;
$body-background-color: #121212;

$top-background: #292929;
$content-background: #1c1c1c;
$slider-background: #242424;
$popup-background: #2d2d2d;

$red: darken($red, 20%);
$brown: darken($brown, 20%);
$green: darken($green, 20%);
$primary: darken($primary, 20%);

$info: darken($cyan, 20%);
$success: $green;
$warning: darken($yellow, 20%);
$danger: $red;

$text-ok-color: $success;
$text-warning-color: $warning;
$text-error-color: $danger;

$default-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .7);
$default-card-shadow: inset 0 0 0 1px rgba(255, 255, 255, .7);
$default-border-color: rgba(255, 255, 255, .25);
$default-border: $default-border-width solid $default-border-color;
$global-border: $default-border;
$input-border: $default-border;
//$global-box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
$global-box-border: none;
$global-disabled-text-color: #999;
$global-disabled-background: #1d1d1d;

//button
$btn-default-text-color: rgba(255, 255, 255, .7);
$menu-primary-menu-item-active-background-color: #232121;

//Menu
$menu-dark-background-color: #000;
$menu-dark-color: $white;
$menu-float-submenu-menu-background-color: rgba(255, 255, 255, .7);
$menu-dark-background-color: transparent;
$menu-dark-disabled-menu-item-color: #1d1d1d;
$menu-inner-container-background: #1d1d1d;
$menu-popup-list-background: #1d1d1d;
$menu-popup-list-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.18), 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$menu-item-active-with-bg: #1d1d1d;
$menu-item-focus-with-bg: #1d1d1d;
$menu-dark-background-color: #1d1d1d;

//input
$input-color: $white;
$input-box-shadow: 0 0 0 0.1rem #0ca0ff;
$input-label-background-color: transparent;

//text-field
$tf-label-show: #000;
$tf-label-color: #fff;
$tf-input-color: #fff;
$tf-underline-label-color: #fff;
$tf-ok-box-shadow: 0 0 0 0.1rem $success !important;
$tf-warning-box-shadow: 0 0 0 0.1rem $warning !important;
$tf-error-box-shadow: 0 0 0 0.1rem $danger !important;
$tf-underline-label-color: $text-comment-color;

//toggle
$toggle-off-bar-background: rgba(255, 255, 255, .2);
$toggle-secondary-primary-background: rgba(255, 255, 255, .2);

//popup
$popup-content-background: $popup-background;

//popover
$popover-arrow-background: $popup-background;

//divider
$divider-background: rgba(255, 255, 255, .2);

//dropdown
//$dp-menu-item-background-color: #1d1d1d;

//select
$select-menu-no-data-background: #333;
$select-menu-item-active: #272727 !important;
$select-multi-item-background: $content-background;
$select-multi-item-border: $default-border;

//date-picker
$date-picker-background: $popup-background;
$date-picker-table-color: rgba(255, 255, 255, .5);
$date-picker-button-day-color: $white;
$date-picker-th-color: rgba(255, 255, 255, .7);
$date-picker-range-btn-color: rgba(255, 255, 255, .7) !important;
$date-picker-year-cols-color: rgba(255, 255, 255, .5);
$date-picker-footer-color: darken($body-text-color, 30%);
$date-picker-day-button-active-color: darken($body-text-color, 30%);
$date-picker-day-button-active-background: lighten($content-background, 3%);

//time-picker
$time-picker-background: $popup-background;
$time-picker-tp-mask-background: linear-gradient(180deg, rgba(71, 71, 71, 0.25), rgba(71, 71, 71, 0.3)), linear-gradient(0deg, rgba(71, 71, 71, 0.3), rgba(71, 71, 71, 0.25));


//modal
$dialog-content-background-color: $popup-background;
$dialog-primary-footer-background: $popup-background;
$dialog-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.18), 0px 1px 1px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
$dialog-header-primary-background-color: $popup-background;
$dialog-primary-header-border-bottom: 1px solid rgba(255, 255, 255, .15);
$dialog-primary-header-border-top: 1px solid rgba(255, 255, 255, .15);

//drawer
$drawer-background: $popup-background;
$drawer-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);

//divider
$divider-background: rgba(255, 255, 255, .15);

//alert
$alert-simple-background: $popup-background;
$alert-simple-border: 1px solid $popup-background;
$alert-info-background: $primary;
$alert-info-border: 1px solid lighten($alert-info-background, 10%);
$alert-info-border-left-color: lighten($alert-info-background, 10%);
$alert-info-box-shadow: 1px 1px 6px 0 lighten($alert-info-background, 10%);
$alert-info-filled-background: $primary;
$alert-ok-background: $green;
$alert-ok-border: 1px solid lighten($alert-ok-background, 10%);
$alert-ok-border-left-color: lighten($alert-ok-background, 10%);
$alert-ok-box-shadow: 1px 1px 6px 0 lighten($alert-ok-background, 10%);
$alert-ok-filled-background: $green;
$alert-warning-background: $brown;
$alert-warning-border: 1px solid lighten($alert-warning-background, 10%);
$alert-warning-border-left-color: lighten($alert-warning-background, 10%);
$alert-warning-box-shadow: 1px 1px 6px 0 lighten($alert-warning-background, 10%);
$alert-warning-filled-background: $brown;
$alert-error-background: $red;
$alert-error-border: 1px solid lighten($alert-error-background, 10%);
$alert-error-border-left-color: lighten($alert-error-background, 10%);
$alert-error-box-shadow: 1px 1px 6px 0 lighten($alert-error-background, 10%);
$alert-error-filled-background: $red;
$alert-container-box-shadow: $dialog-box-shadow;

//progress
$progress-bar-background: rgba(255, 255, 255, .2);

//skeleton
$skeleton-background: linear-gradient(90deg, rgba(80, 80, 80, 80) 23%, rgba(40, 40, 40, 100) 40%, rgba(29, 29, 29, 100) 60%);

//navbar
$navbar-background-color: $top-background;
$navbar-title-color: $body-text-color;
$navbar-inactive-text-color: rgba(255, 255, 255, .5);
$navbar-item-active-color: $body-text-color;

//tree
$tree-item-label-info-active-background: $primary;
$tree-item-bg-background: $primary;
$tree-item-label-info-active-background: $primary;
$tree-item-label-info-active-color: #fff;

$bq-with-bg-background: $content-background;
$bq-other-border: rgba(255, 255, 255, .15);
$bq-left-border: 0.4rem solid rgba(255, 255, 255, .12);
$bg-primary-with-bg-background: $primary;
$bq-footer-color: rgba(255, 255, 255, .65);

//table
$table-th-background-color: $content-background;
$table-th-color: darken($body-text-color, 30%);
$table-default-border: 1px solid rgba(255, 255, 255, .15);
$table-row-hover-background-color: #1d1d1d;
$table-row-hover-bg: #1d1d1d;
$table-hl-tr-background: darken($primary, 25%) !important;
$table-filter-hover-background: #2c2c2c;
$table-filter-active-background: #1d1d1d;
$table-filter-active-color: $primary;
$table-fixed-cell-background: #1d1d1d;
$table-filter-active-background: $popup-background;
$table-arrow-color: $global-disabled-text-color;


//pagination
$pagination-go-item-button: $body-text-color;
$pagination-simple-content-label-color: $body-text-color;

//card
$card-header-background-color: $content-background;

//tabs
$tabs-secondary-card-item-background: $content-background;
$tabs-secondary-card-item-background-active: $body-background-color;
$tabs-secondary-card-item-border-active: 1px solid transparent;
$tabs-item-color: #ccc;
$tabs-horizontal-tab-card-background: $body-background-color;

//breadcrumb
$bd-color: rgba(255, 255, 255, .7);
$bd-with-bg-background: #1d1d1d;

//layout
$layout-background: unset;
$layout-content-background: $content-background;
$layout-footer-background: unset;
$layout-slider-background: $slider-background;

//loader
$loader-primary-border: $loader-size-normal * 0.1 solid rgba(255, 255, 255, .38);
$mask-background: rgba(0, 0, 0, .5);


//avatar
$avatar-with-box-shadow: none;

//border-info
$border-info-ok: 0 0 0 0.1rem lighten($success, 20%) !important;
$border-info-warning: 0 0 0 0.1rem lighten($warning, 20%) !important;
$border-info-error: 0 0 0 0.1rem lighten($danger, 20%) !important;